<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <script type="text/javascript" src="../../../dist/main.js"></script>
</head>
<body>
    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>
    <main>
        <section>
            <h1>Travel App</h1>
            <form action="">
                    <div>
                        <label for="date">Place: </label>
                        <input type="text" id="place" name="place" placeholder="Place" required>
                    </div>
                    <div>
                        <label for="date">Date: </label>
                        <input type="date"  id="date" name="date" required>
                    </div>
                    <input type="submit" value="Show details">
            </form>
        </section>

        <section>
            <div id="results">
                <img id="image" src="" alt="city name">
                <div id="weather-info">
                    <div id="temp"></div>
                    <div id="desc"></div>
                </div>
                <div id="countdown"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>This is a footer</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>
