form {
    border: 3px solid black;
    border-radius: 5px;
    padding: 30px;
    margin-top: 40px;
    width: 40%;
    height: 400px;

    input {
        padding: 5px 20px;
        width: 60%;
        height: 60px;
        line-height: 16px;
        margin: 10px 5px;
        font-size: 0.7em;
        margin-top: 25px;
    }   
    
    label{
        font-size: 1.2em;
        font-weight: 600;
        margin: 5px;
    }

    input[type="submit"]{
        margin: 30px;
        background-color: blueviolet;
        color: aliceblue;
        font-size: 1.2em;
        font-weight: 500;
        border-radius: 5px;
        margin-top: 50px;
    }

    input[type="date"]{
        margin-left: 15px;
    }

}
